Repository dickerschutz/frappe: changes, and which Codecov flags are due for each by the changed paths.
All: server-mariadb, server-postgres, ui-tests, server-ui

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  range: 60..90
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        flags:
          - server-mariadb
    patch:
      default:
        target: 85%
        threshold: 0%
        only_pulls: true
        if_ci_failed: ignore
        flags:
          - server-mariadb

comment:
  layout: "diff, flags"
  require_changes: true

flags:
  server-mariadb:
    paths:
      - "**/*.py"
    carryforward: true
  server-postgres:
    paths:
      - "**/*.py"
    carryforward: true
  ui-tests:
    paths:
      - "**/*.js"
    carryforward: true
  server-ui:
    paths:
      - "**/*.py"
    carryforward: true

allow for different paper sizes
  frappe/templates/print_format/print_format.css
Due: none

revert
  frappe/templates/print_format/print_format.css
Due: none

wip performance
  frappe/desk/reportview.py
  frappe/public/js/frappe/list/list_view.js
Due: server-mariadb, server-postgres, ui-tests, server-ui

wip
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_filter.js
Due: ui-tests

fix insights compat
  frappe/utils/caching.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/printing/doctype/print_format/print_format.json
  frappe/templates/print_format/print_format.html
Due: none

wip
  frappe/templates/print_format/print_format.html
Due: none

wip
  frappe/public/js/frappe/form/templates/address_list.html
  frappe/public/js/frappe/form/templates/contact_list.html
Due: none

wip routing
  frappe/public/js/frappe/router.js
Due: ui-tests

wip
  frappe/public/js/frappe/views/calendar/calendar.js
  frappe/utils/csvutils.py
Due: server-mariadb, server-postgres, ui-tests, server-ui

wip
  pyproject.toml
Due: none

wip
  frappe/contacts/doctype/contact/contact.json
  frappe/hooks.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/public/js/frappe/list/base_list.js
Due: ui-tests

add support for multi pdf print
  frappe/__init__.py
  frappe/utils/print_format.py
  frappe/utils/weasyprint.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/desk/reportview.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/desk/doctype/tag/tag.py
  frappe/desk/reportview.py
  frappe/hooks.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/desk/doctype/tag/tag.py
Due: server-mariadb, server-postgres, server-ui

rename tags
  frappe/desk/doctype/tag/tag.py
Due: server-mariadb, server-postgres, server-ui

wip
  frappe/desk/doctype/tag/tag.py
  frappe/printing/page/print/print.js
  frappe/utils/weasyprint.py
  pyproject.toml
Due: server-mariadb, server-postgres, ui-tests, server-ui

wip
  frappe/desk/doctype/todo/todo.json
Due: none

wip
  frappe/utils/weasyprint.py
Due: server-mariadb, server-postgres, server-ui
